@model IEnumerable<Keys_Onboarding.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<p>
    <a id="btnCreate" href="#modalContainer" data-toggle="modal" class="btn btn-success">Create New</a> 
</p>

<table class="table">
    <tr>
        @*JS fills this table using AJAX*@
    </tr>
  
</table>

<div id="modalContainer" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mod-content">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/Product.js"></script>

